@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Obrigado por utilizar nosso sitema de Controle de Tarefas!</p>
<p>Fique a vontade para cadastrar suas pendências!</p>
